[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=/usr/local/eclipse-jee/icon.xpm
Exec=/usr/local/eclipse-jee/eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
