[Desktop Entry]
Type=Application
Name=Idea
Comment=Idea Integrated Development Environment
Icon=/usr/local/ideaIU/bin/idea.png
Exec=/usr/local/ideaIU/bin/idea.sh
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
