[Desktop Entry]
Type=Application
Name=PyCharm
Comment=PyCharm Integrated Development Environment
Icon=/usr/local/pycharm/bin/pycharm.png
Exec=/usr/local/pycharm/bin/pycharm.sh
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
