[Desktop Entry]
Type=Application
Name=Robomongo
Comment=Robomongo Integrated Development Environment
Icon=/usr/local/robo3t/bin/robo3t.png
Exec=/usr/local/robo3t/bin/robo3t
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
