[Desktop Entry]
Type=Application
Name=WebStorm
Comment=WebStorm Integrated Development Environment
Icon=/usr/local/webstorm/bin/webstorm.png
Exec=/usr/local/webstorm/bin/webstorm.sh
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
