[Desktop Entry]
Type=Application
Name=Webstorm
Comment=Webstorm Integrated Development Environment
Icon=/usr/local/WebStorm-172.4155.35/bin/webstorm.svg
Exec=/usr/local/WebStorm-172.4155.35/bin/webstorm.sh
Terminal=false
Categories=Development;IDE;Java;
StartupNotify=true
